@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Comic+Neue:ital,wght@0,400;1,300&family=Indie+Flower&family=Rajdhani:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Cabin+Condensed&family=Comic+Neue:ital,wght@0,400;1,300&family=Dosis:wght@300&family=Gloria+Hallelujah&family=Handlee&family=Indie+Flower&family=Kalam:wght@300&family=Rajdhani:wght@300;400&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #EBA407;
    --cor2:  rgb(0, 48, 97);
    --fontedestaque:'Kalam', cursive;
    --fontetitulos:'Cabin Condensed', sans-serif;
    --fontep: 'Dosis', sans-serif;
}

body{
    margin: auto;   
    margin-top: 50px;
    margin-bottom: 50px;  
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(176, 214, 234);
}



h1{
    margin-bottom: 20px;
}

p{
    font-family: var(--fontep);  
}

.container1{
    display: flex;
    max-width: 300px;
    flex-direction: column ;
    flex-wrap: wrap;    
    background-color: rgb(0, 48, 97);
    justify-content: space-between;
}

img{   
    width: 60%;    
    border-radius: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
 }

.descricao1{
    display: flex; 
    flex-direction: column;   
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 40px;
    height: 100%;
  
 }
 .nomeprofissao{
    display: flex;
    flex-direction: column;

 }


 .nomeprofissao h1{
    color: var(--cor1);
    font-family: var(--fontetitulos);
    font-size: 35px;
    text-align: left;
    margin-bottom: -5px;
 }
 .nomeprofissao p{
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
     
    
 }

 #titulocontato{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    text-align: left;
}

#titulocontato h1{
    font-family: var(--fontetitulos);
}

#descriçãocontato{
    list-style: none;
    position: relative;
    line-height: 30px;
}

 #idiomas{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    column-gap: 10px;     
}

.icon{
    color:  rgb(201, 198, 198);
    margin: 10px;
}

span {
    font-family: var(--fontep);
}

#idiomas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dataformacao{
    font-weight: bold;   
}

#cursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;  
}

.container1 p{
    color: #fff;
    line-height: 28px;

}

.titcontainer1{
    font-family: var(--fontetitulos);
    color: #03a9f4;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: var(--cor1);
}

.container2{
    display: flex;
    max-width: 500px;
    flex-direction: column ;
    flex-wrap: wrap;
    background-color: #fff;
    line-height: 25px;    
    column-gap: 30px;
    justify-content: space-around;
}

.descricao2{
    display: flex; 
    flex-direction: row;   
    justify-content: space-around;    
    flex-wrap: wrap;    
    margin: 40px;
}

.experiencias{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.namedata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.jobdescricao{
    text-align: justify;
}

.separação{    
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-color: rgb(201, 198, 198); ;
    border-style: dotted; 
    border-top: 0px;
    border-width: 2px;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    column-gap: 10px;    
}

.tec1{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 60%, #bcb9b9 10%);
}

.tec2{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 50%, #bcb9b9 10%); 
}

.tec3{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 10%, #bcb9b9 10%);
}

.tec4{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 20%, #bcb9b9 10%);
}

.tec5{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 10%, #bcb9b9 10%);
}

.tec6{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 10%, #bcb9b9 10%);
}

.tec7{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor2) 0%, var(--cor2) 10%, #bcb9b9 10%);
}

.port{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor1) 0%, var(--cor1) 100%, #bcb9b9 0%); 
}

.esp{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor1) 0%, var(--cor1) 90%, #bcb9b9 10%); 
}

.ing{
    width: auto;
    height: 10px;
    border-radius: 10px;
    border:   black;
    background: linear-gradient(to right, var(--cor1) 0%, var(--cor1) 50%, #bcb9b9 50%); 
}

#code{
    width: 10%;
    height: 20%;
    color: #fff;
}

.titcontainer2{
    font-family: var(--fontetitulos);
    color: var(--cor2);
    font-size: 20px;
}

.cargo{
    font-weight: bold;  
}

#sobre{
    text-align: justify; 
}

@media (max-width: 800px){
    .container1{
       flex-direction: column;
       min-width: 500px;
       text-align: center;
    }
    .nomeprofissao h1{
        text-align: center;
    }

    .nomeprofissao p{
        text-align: center;
    }
    #titulocontato{
        text-align: center;
    }
}